.App {
    position: relative;
    color: black;
}

.App::after {
    content: "";
    background: rgb(26, 31, 41) url("./wood.jpg") no-repeat fixed top;
    filter: brightness(40%);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}